.result {
    margin:20px;
    list-style: none;
}

.result li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    border: 1px solid #606060;
    border-radius: 8px;
    padding: 10px;
    color: #000000;
}

.descriptionLtr {
    padding-left: 20px;
}

.descriptionRtl {
    padding-right: 20px;
}

.empty {
    margin: 20px;
}