.container {
    margin: 40px 20px 10px 20px;
    color: #303030;
}

.container h1{
    text-transform: uppercase;
}

.container input{
    width: 100%;
    min-width: 100px;
    max-width: 300px;
    border: none;
    text-decoration: none;
    color: #303030;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    caret-color: #0d6bd9;
}

.icon {
    vertical-align: middle;
    height: 30px;
}

.searchBar {
    display: flex;
    width: fit-content;
    align-items: center;
    margin: 20px 0px;
    border-radius: 25px;
    border: 1px solid #606060;
}

.searchBarLtr {
    padding: 8px 10px 8px 20px;
}

.searchBarRtl {
    padding: 8px 20px 8px 10px;
}