.footer {
    font-weight: 400;
    padding: 40px 0;
    color: #0d6bd9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    background: #0093ff;
    margin-bottom: 16px;
    height: 1px;
    max-width: 970px;
    width: 100%;
}